// Color Variables
$main-background-color: #f4f6fa;
$heading-color: #00124f;
$primary-text-color: #16423c;
$primary-color: #4083f2;
$primary-color-dark: #2f4f7f;


// Font Families
$font-main-heading: "Protest Guerrilla", sans-serif;
$font-main-title: "Bebas Neue", sans-serif;
$font-para: "Inter", sans-serif;


